#header{
    border-bottom-left-radius:75px;
    border-bottom-right-radius:75px;
    width:100%;
    padding-top: 130px;
    height:250px;
    background-color: #00c1fc;
    position: sticky;
    top: 0%;
}
#backButton{
    position:absolute;
    color:white;
    font-size:50pt;
    transform: rotate(180deg) translateY(350px) translateX(-40px);
}
#header h1{
    text-align:center;
    margin:0;
    line-height: 250px;
    font-size: 100pt;
    font-family: 'Comfortaa';
    color:white;
}
body{
    margin:0;
}