#addNew{
     width: 60%;
     height: 25%;
     margin: auto;
     margin-top:30px;
     background: #00c1fc;
     border-radius: 75px;
}
 #plus{
     width: 37px;
     height: 75px;
     margin: auto;
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 12vw;
     line-height: 15vw;
     color: white;
}
 #headerBackground{
     background-color: white;
     height:600px;
     width:100vw;
     position:fixed;
}
 #logs {
     padding-top:60vw;
}
 .tdRight{
     padding-top:2vh;
     padding-bottom:2vh;
     padding-left:8vw;
     font-size:30pt;
}
 .divCirc{
     border: solid 2px black;
     border-radius:50%;
     margin-left:8vw;
     height:130px;
     width:130px;
     text-align:center;
     font-size:40px;
}
 .circNum{
     padding-top:.1vh;
}
 .recordTitle{
     margin-bottom:1vh;
}
 a {
     text-decoration: none;
     color:black;
}