#header{
    border-bottom-left-radius:75px;
    border-bottom-right-radius:75px;
    width:100%;
    padding-top: 130px;
    height:250px;
    background-color: #00c1fc;
    position: sticky;
    top: 0%;
}
#backButton{
    position:absolute;
    color:white;
    font-size:50pt;
    transform: rotate(180deg) translateY(100px) translateX(-40px);
}
#header h1{
    text-align:center;
    margin:0;
    line-height: 250px;
    font-size: 100pt;
    font-family: 'Comfortaa';
    color:white;
}
body{
    margin:0;
}
.dataBox{
    align-self: center;
    width: 75%;
    margin: 60px auto;
    border-radius:50px;
    border: 1px solid gray;
    background-color: white;
    box-shadow: 10px 10px 5px 0px gray;
}
.dataBox h3{
    text-align: left;
    font-family: 'Archivo Narrow';
    font-size:30pt;
    padding-left: 30px;
    padding-top: 10px;
    margin:0;
    color: gray;
    text-decoration: underline; 
}
.dataBox input{
    width: 90%;
    padding: 12px 12px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-left:5%;
    font-size:24pt;
}
#timeDescended, #buddies{
    margin-bottom:20px;
}
#buddies{
    height:150px;
    width: 89.5%;
    margin-top: 8px;
    margin-left:5%;
    font-size:24pt;
}
#buoyancy{
    width:auto;
    display:inline-block
}
#buoyancyLabel{
    font: 400 24pt Arial;
    color:gray;
    float:left;
    margin:0 5%;
    line-height: 280%;
}
#submit{
    background-color: #00c1fc;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 3% 10%;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-bottom:10%;
    cursor: pointer;
    font-size:48pt;
    font-family:'Archivo Narrow';
    box-shadow: 10px 10px 5px gray;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}
.material-icons {
    margin-top:10px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 7vw;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    /* -moz-font-feature-settings: 'liga'; */
    -moz-osx-font-smoothing: grayscale;
}
i {
    cursor :  pointer;
}